<span id="currencies" class="btn-group">
	<span data-currency="EUR" class="btn btn-default btn-xs">&euro; EUR</span>
	<span data-currency="USD" class="btn btn-default btn-xs">&dollar; USD</span>
</span>