<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: http://wiki.shopify.com/Related_Products -->

{% assign image_size = 'medium' %}

{% if product.metafields.recommendations.productHandles %}

<header class="section-header">
	<h3 class="section-header-title">{{ settings.related_products_title }}</h3>
</header>

<div class="related-products row"></div>

{% endif %}


<script type="text/javascript" charset="utf-8">
//<![CDATA[
var recommendations = [];
{% if product.metafields.recommendations.productHandles %}
recommendations = jQuery.trim({{ product.metafields.recommendations.productHandles | json }}).split(/[\s,;]+/);
{% endif %}
if (recommendations.length && recommendations[0] !== '') {
	var list = jQuery('div.related-products');
	for (var i=0; i<recommendations.length; i++) {
		jQuery.getJSON('/products/' + recommendations[i] + '.js', function(product) {
			list.append('<div class="product-list col-sm-4"><div class="product-list-thumb"><a href="' + product.url +'"><img src="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_{{ image_size }}$1') + '" /></a></div><div class="product-list-price">' + Shopify.formatMoney(product.price, '{{ shop.money_format }}') + '</div><div class="product-list-title"><a href="' + product.url + '">' + product.title + '</a></div></div>');
		});
	}
}  
//]]>
</script>