//
// Custom Grid
// --------------------------------------------------

@for $i from 1 through 10 {
	.col-#{$i}{
		position: relative;
		min-height: 1px;
		padding-left:  ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);

		@media (min-width: $grid-float-breakpoint) {
			float: left;
			width: percentage($i / 10);
		}
	}
}