//
// Top nav
// --------------------------------------------------

.top-nav{
	padding: 8px 0 6px;
	background: #f5f5f5;

	ul{
		margin: 0;
	}
}

#currencies{
	margin: -14px 10px 0;
	display: block;
	color: $global-color-light;

	span{
		cursor: pointer;

		&.active{
			color: $global-color;
		}
	}
}


//
// Main Nav bar
// --------------------------------------------------

.navbar-main{
	background-color: #fff;
	border-color: $global-border;

	@media (max-width: $screen-xs-max){
		background: #F8F8F8;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
	}

	.navbar-collapse {
		border-color: $global-border;
	}

	.navbar-toggle .icon-bar{
		background-color: $text-color;
	}

	.navbar-brand{
		float: right;
		color: inherit;
	}

	.navbar-toggle{
		float: left;
	}
}

.empty-div {
	display: none;

	@media (max-width: $screen-xs-max){
		margin-top: 55px;
		display: block;
	}
}

.navbar-left > li > a{
	@include uppercase();
}

.navbar-secondary{
	border-top: 1px solid $navbar-inverse-border;
	$shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	@include box-shadow($shadow);
}


.navbar-basket{
	float: right;
	margin-right: $navbar-padding-horizontal;
	@include navbar-vertical-align(34px);
	padding: 9px 10px;
	line-height: 16px;
	color: #fff;

	@media (min-width: $grid-float-breakpoint) {
		display: none;
	}
}

// search

.fa-search{
	cursor: pointer;
}

#search-field.form-control{
	width: 95%;
	font-size: 14px;
	margin: 0 10px 10px;
	outline: 0;
	border: 0;
	background: 0;
	display: inline-block;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
	padding-left: 5px;
	border-radius: 0;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	-webkit-box-shadow: none;
	box-shadow: none;

	&:focus{
		border-color: #000;
	}

}

#collapseSearch{
	@media (max-width: $screen-xs-max){
		margin-top: 55px;
	}
}

//
// Side nav
// --------------------------------------------------

.nav-side{
	@extend .list-unstyled;

	> li{
		margin-bottom: 12px;
		
		&.nav-header{
			font-size: $h5;
			@include uppercase();
			margin-bottom: $line-height-computed;
		}
	}
}