$product-price-weight: 600;

//
// Product-loop
// --------------------------------------------------

.product-list{
	text-align: center;
	margin-bottom: $line-height-computed;
}

.total-products{
	line-height: $input-height-base;
}

.product-list-title > a {
	color: $link-gray-color;
	display: block;
	@include text-overflow;
}

.product-list-price{
	font-size: $h4;
	font-weight: $product-price-weight;
	margin-top: ($line-height-computed / 2);
}

.product-list-thumb {
	overflow: hidden;

	a{
		display: block;
	}
}

.col-sm-3 > .product-list-thumb {
	height: 120px;
}

.col-sm-4 > .product-list-thumb {
	height: 175px;
	line-height: 175px;
}


//
// Product
// --------------------------------------------------

.product-title {
	font-family: $font-family-serif;
	text-transform: uppercase;
}

.product-page{
	margin-bottom: 80px;
}

.product-price{
	font-size: $h2;
	font-weight: $product-price-weight;
}

#productPrice, .selector-wrapper, .product-actions{
	margin-bottom: $line-height-computed;
}