@import "fonts";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


//== Theme Variables
// --------------------------------------------------

$base-letter-spacing: 	.1em;

$global-border:			#ebebeb;

$global-color:			#313132;
$global-color-grey:		#666666;
$global-color-light:	#888888;

$inverse-bg:			#111111;

//== Mixin
// --------------------------------------------------

@mixin uppercase(){
	text-transform: uppercase;
	letter-spacing: $base-letter-spacing;
}


@import "link-effects";
@import "typography";
@import "nav";
@import "layout";
@import "product";
@import "collection";

//
// Custom CSS classes here
// --------------------------------------------------

.row + .row{
	margin-top: $line-height-computed;
}

//== Misc
// --------------------------------------------------

ul ,ol {
	padding-left: 15px;
}



// Wells
// --------------------------------------------------

.well{
	@include box-shadow(none);
}

//== Helper classes
// --------------------------------------------------

.white-space{
	content: "";
	height: ($line-height-computed * 2);
}

.btn{
	// @include uppercase();
}

.btn-secondary{
	border: 2px solid #2F2F33;
}

a.btn-search {
	padding: 2px 7px 3px !important;
}

.section { margin: $line-height-computed 0px; }
.margin-remove { margin: 0px !important; }


//== Form errors
// --------------------------------------------------

.errors{
	@extend .alert;
	@extend .alert-danger;

	> ul{
		@extend .list-unstyled;
		color: $brand-danger;
	} 
}

//== styles for subnav
// --------------------------------------------------

.subnav{
	@include list-unstyled;
	margin-bottom: $line-height-computed ;
}

.subnav-title{
	display: block;
	font-size: 13px;
	font-weight: 500;
	@include uppercase();
	margin-bottom: ($line-height-computed / 2);
}

//== Pagination
// --------------------------------------------------

.paginate{
	display: block;
	text-align: right;
	margin: ($line-height-computed * 3.5) 0 0;

	.page, .prev, .next{
		padding: 0 3px;

		> a {
			color: $global-color-grey; 
		}
	}
}

//== Cart
// --------------------------------------------------

.cart-item{
	padding-bottom: $line-height-computed / 2;
	margin-bottom: $line-height-computed ;
	border-bottom: 1px solid $global-border;

	.close{
		line-height: inherit;
	}
}


.cart-item-header {
	font-weight: bold;
	padding-bottom: $line-height-computed ;
}

.cart-item-title{
	margin: 0;

	@media (min-width: $grid-float-breakpoint){
		margin: ($line-height-computed / 2) 0;
	}
}

.cart-options{
	text-align: right;
}

.quantity-selector{
	width: 50px !important;
}

//== Panels
// --------------------------------------------------

.panel{
	box-shadow:none;

	&.panel-default > .panel-heading{
		border-top: 1px solid $global-border;

		.panel-title{
			@include uppercase();
			font-size: $h5;
		}

		ul{
			margin-bottom: 0;
		}
	}

	.panel-title > a{
		display: block;

		&:hover, &:focus{
			text-decoration: none;
		}
	}
}

.panel-group {
	border-bottom:  1px solid $global-border;

	.panel+.panel{
		margin-top: 0;
	}
}
