{% layout settings.customer_layout %}

<div id="customer-register">
	<div class="row">
		<div id="register" class="col-sm-6">
			<h2>Create new Account</h2>

			{% form 'create_customer' %}

			{{ form.errors | default_errors }}

			<div id="first_name" class="form-group">
				<label class="control-label" for="first_name">First Name</label>
				<input type="text" value="" name="customer[first_name]" id="first_name" class="form-control" size="30" />
			</div>

			<div id="last_name" class="form-group">
				<label class="control-label" for="last_name">Last Name</label>
				<input type="text" value="" name="customer[last_name]" id="last_name" class="form-control" size="30" />
			</div>

			<div id="email" class="form-group {% if form.errors contains 'email' %} has-error{% endif %}">
				<label class="control-label" for="email">Email</label>
				<input type="email" value="" name="customer[email]" id="email" class="form-control" size="30" />
			</div>

			<div id="password" class="form-group {% if form.errors contains 'password' %} has-error{% endif %}">
				<label class="control-label" for="password">Password</label>
				<input type="password" value="" name="customer[password]" id="password" class="form-control" size="30" />
			</div>

			<div class="row">
				<div class="col-sm-6">
					<input class="btn btn-primary btn-block" type="submit" value="Create my Account" /> 
				</div>
				<div class="col-sm-6">
					<h6><a href="{{ shop.url }}">Return to Store</a></h6>
				</div>
			</div>

			{% endform %}

		</div>
		<div class="col-sm-5 col-sm-offset-1">
			<img class="img-responsive" src="http://www.avestyles.com/wp-content/uploads/2013/03/fashill2-e1364774470446.jpg" style="transform: scaleX(-1);">
		</div>
	</div>
</div>
