<style type="text/css">
	.section > .row{
		margin-top: 35px;
		margin-bottom: 35px;
	}
</style>

<div class="page-header">
	<h2>{{ page.title }}</h2>
</div>

<div class="section">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<img src="https://cdn.shopify.com/s/files/1/0800/2449/files/img_2.jpg?10260062163650592069"
			class="img-responsive">
		</div>
		<div class="col-sm-6">
			<img src="https://cdn.shopify.com/s/files/1/0800/2449/files/img_1.jpg?10260062163650592069"
			class="img-responsive">
		</div>
	</div>
</div>
<div class="section">
	<div class="row">
		<div class="col-md-12">
			<img src="https://cdn.shopify.com/s/files/1/0800/2449/files/img_3.jpeg?10260062163650592069"
			class="img-responsive">
		</div>
	</div>
</div>
<div class="section">
	<div class="row">
		<div class="col-sm-5">
			<img src="https://cdn.shopify.com/s/files/1/0800/2449/files/img_4.jpeg?10260062163650592069"
			class="img-responsive">
		</div>
		<div class="col-sm-6 col-sm-offset-1">
			<img src="https://cdn.shopify.com/s/files/1/0800/2449/files/img_5.jpeg?10260062163650592069"
			class="img-responsive">
		</div>
	</div>
</div>
<div class="section">
	<div class="row">
		<div class="col-md-12">
			<img src="https://cdn.shopify.com/s/files/1/0800/2449/files/img_6.jpeg?10260062163650592069"
			class="img-responsive">
		</div>
	</div>
</div>